{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Story Book Prototype</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <body id="body " onload="viewport_tracker()">
    <div id="main-container">
      <div class="sidebar-header">
        <button class="btn" id="menu-drawer" onclick="sidebar_toggle()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div id="sidebar">
        <div class="user-info-container">
          <img src="{% static 'images/logo.png' %}" alt="logo" class="logo" />
        </div>
        <div class="user-bio-container">
          <p class="sidebar-label">About:</p>
          <p class="user-bio-text">
            Story Book is a photo-sharing app that aims to share visual tales as
            told through the lenses of a camera. <br /><br />

            As a user, you can view more information about the a post by
            clicking on the image. You can also go return to the home-page any
            time by clicking on the 'Story Book' logo above. Lastly, you can
            filter the posts by location below or search for a specific category
            through the search form at the top right corner (or under the navbar
            for mobile users)
          </p>
        </div>
        <div class="upload-button-container">
          <button class="upload-button">Filter</button>
        </div>
        <div class="recent-posts">
          <p class="sidebar-label">Recent Uploads</p>
          <div class="recent-posts-grid">
            {% if recent %} {% for post in recent %}
            <img src="post.img_url" alt="post.title" class="recent-post" />
            {% endfor %} {% else %}
            <p class="w-100 user-bio-text text-center">
              There are no uploaded posts
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="search-bar-container">
        <div class="search-bar-form">
          <form action="" class="search-form">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control search-form-input"
                placeholder="Search..."
                aria-label="Search..."
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn search-form-button"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="content">{% block content %} {% endblock content %}</div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'js/sidebar.js' %}"></script>

    <script
      src="https://kit.fontawesome.com/a872bbb5df.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
