{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story Book: Sign In</title>
       {% block styles %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    {% endblock styles %}
  </head>
  </head>
  <body>
    <div class="main-container register-container">
      <div class="card login-card register-card">
        <div class="card-body">
          <p class="card-text login-sub-header register-sub-header">
            Nice to meet you!
          </p>
          <h4 class="card-title login-header register-header">
            Fill in this form to get started with a Story Book account.
          </h4>
          <form action="" class="login-form-container">
            <div class="login-form-row">
              <div class="login-input-group">
                <label for="email" class="login-form-label register-label"
                  >First Name:</label
                ><input
                  type="email"
                  class="login-form-input"
                  placeholder="John"
                />
              </div>
              <div class="login-input-group">
                <label for="password" class="login-form-label register-label"
                  >Last Name</label
                ><input
                  type="password"
                  class="login-form-input"
                  placeholder="Doe"
                />
              </div>
            </div>
            <div class="login-input-group">
              <label for="email" class="login-form-label register-label"
                >Email:</label
              ><input
                type="email"
                class="login-form-input"
                placeholder="johndoe@example.com"
              />
            </div>
            <div class="login-input-group">
              <label for="password" class="login-form-label register-label"
                >Password</label
              ><input
                type="password"
                class="login-form-input"
                placeholder="asw12XC0*7&"
              />
            </div>
            <div class="login-input-group">
              <label for="password" class="login-form-label register-label"
                >Confirm Password</label
              ><input
                type="password"
                class="login-form-input"
                placeholder="asw12XC0*7&"
              />
            </div>

            <p class="auth-link register-link">
              Don't have an account?
              <span><a href="{%url 'posts:Sign In' %}">Click here</a></span> to
              sign up.
            </p>

            <button class="login-form-button" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
