@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/Century\ Gothic.ttf");
}
@font-face {
  font-family: "Century Gothic Bold";
  src: url("../fonts/Century\ Gothic\ Bold.ttf");
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #292f36 !important;
  font-family: "Century Gothic";
}

.register-container {
  background-color: #4ecdc4 !important;
}

.login-card {
  width: 600px;
  min-height: 500px;
  max-height: max-content;
  text-align: center;
  background-color: #4ecdc4 !important;
}

.register-card {
  background-color: #292f36 !important;
}

.login-sub-header {
  font-size: 16px !important;
  font-family: "Century Gothic Bold";
  color: #292f36;
  margin-bottom: 0;
  margin-top: 20px !important;
}

.register-sub-header {
  color: #ffffff;
}

.login-header {
  color: #ffffff;
  font-family: "Century Gothic Bold";
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.register-header {
  color: #4ecdc4;
}

.login-form-container {
  padding: 10px 30px;
}

.login-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px 20px;
}

.login-form-label {
  font-size: 18px;
  font-family: "Century Gothic Bold";
  color: #292f36;
}

.register-label {
  color: #ffffff !important;
}

.login-form-input {
  border: #4ecdc4 1px solid;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  color: #4ecdc4;
  font-family: "Century Gothic Bold";
}

.auth-link {
  font-family: "Century Gothic Bold";
  font-size: 14px;
  color: #ffffff;
}

.auth-link a {
  text-decoration: none;
  color: #292f36;
  font-family: "Century Gothic Bold";
}

.auth-link a:hover {
  font-size: 15px;
  text-decoration: none;
  color: #292f36;
  font-family: "Century Gothic Bold";
}

.register-link a {
  color: #4ecdc4;
}

.register-link a:hover {
  color: #4ecdc4;
}

.login-form-button {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #4ecdc4;
  font-family: "Century Gothic Bold";
}
